@page "/about"
@{
  ViewData["Title"] = "About";
}
<div class="container-fluid">
  <div class="row align-items-center">
    <img src="../images/ISAS.png" />
  </div>
    <div class="row align-items-center">
      <div class="col">
        <p class="text-left"><strong>Hello, my name is Donny Buckman. I am the developer of Internet Sites and Stores. I hold a Master of Information Systems degree, and have more than 20 years of work with Internet technology. I built and published my first website working at the USDA Agricultural Research Service in 1998. I have coded and administered web sites and servers on site and in the cloud. This website is running on Microsoft Azure cloud.</strong></p>
      </div>
  </div>
</div>