@page "/contact"
@{
  ViewData["Title"] = "Contact";
}
<div class="container-fluid">
  <div class="row align-items-center">
    <img src="../images/ISAS.png" />
  </div>
  <div class="row form-box">
    <div class="col">
      <p class="h3">All Inqueries to Internet Sites and Stores</p>
      <p class="lead">Contact: Donny Buckman MIS</p>
      <strong>Address:</strong><br />
      Donny Buckman<br />
      201 Rava Pkwy<br />
      Greenfield, CA 93927<br /><br />
      <strong>Telephone:</strong> 831-229-8474<br />
      <p><strong><a href="mailto:dbuckman@plantformsoftware.com">E-Mail: dbuckman@plantformsoftware.com</a></strong></p>
    </div>
  </div>
</div>