@page "/"
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="home-box">
      <div class="row">
        <div class="col-3">
          <img src="../images/BuckHead.jpeg" />
        </div>
        <div class="col-9">
          <h3 class="story text-left"><p style="color:#b0a072">Internet Sites and Stores is a custom web development company that will help you to develop a presence online for your business
                or organization. Internet Sites and Stores is based in Greenfield, California and serves Monterey County.
        </p></h3>  
        </div>
      </div>
    </div>
</div>
<div class="container-fluid home-box">
    <h1 class="text-center">Sample Sites</h1><p class="h4 text-center">Please be patient. The samples are running on free cloud resources, and may take about 30 seconds to load.
        PlantForm is running on a supported cloud host. It gives a clear example of responsiveness to the typical web application.</p></h4>
    <br />

    <div class="row">
        <div class="app-box">
            <h4><a href="https://www.plantformsoftware.com" target="_blank"><img src="../images/PlantForm-TradeMark-NoBack-FB.jpg" class="img-fluid" />PlantForm</a></h4>
            <p>Original Application for Market Gardens</p>
            <p>
                A three sided marketplace that integrates with Google Maps
                and picture upload. Features garden management, market listing/ordering,
                and labor management features. Provides support for private
                and community gardens.
            </p>
        </div>
        <div class="app-box">
            <h4><a href="https://nomster-donny-buckman.herokuapp.com/" target="_blank" ><img src="../images/nomster.png" class="img-fluid" />Nomster</a></h4>
            <p>A Yelp clone that integrates with the Google Maps
                and includes features like user comments, star ratings,
                and user authentication.
            </p>
            <a href="https://github.com/Monchkrit/nomster" target="_blank" >GitHub Repository</a>
        </div>
    </div>
    <div class="row">
        <div class="app-box">
            <h4><a href="https://flixter-donny-buckman.herokuapp.com/" target="_blank"><img src="../images/flixter.png" class="img-fluid" />Flixter</a></h4>
            <p>
                A two-sided, video-streaming marketplace platform that features credit card payment capabilities, user role management, 
                complex user interfaces, and advanced database relationships.
            </p>
            <a href="https://github.com/Monchkrit/flixter" target="_blank" >GitHub Repository</a>
        </div>
        <div class="app-box">
            <h4><a href="https://splurty-donny-buckman.herokuapp.com/" target="_blank"><img src="../images/splurty.png" class="img-fluid" />Splurty</a></h4>
            <p>
                A database-powered quote generator with a mobile-first design,
                using the Ruby on Rails framework, HTML, and CSS. Uses Git and GitHub for
                version control, and launced on Heroku.
            </p>
            <a href="https://github.com/Monchkrit/splurty" target="_blank" >GitHub Repository</a>
        </div>
    </div>
    <div class="row">
        <div class="app-box">
            <h4><a href="https://grammable-donny-buckman.herokuapp.com/" target="_blank"><img src="../images/grammable.png" class="img-fluid" />Grammable</a></h4>
            <p>
                An Instragram clone that was build using industry-standard, test-driven
                development following numerous red/green/refactor cycles.
            </p>
            <a href="https://github.com/Monchkrit/grammable" target="_blank" >GitHub Repository</a>
        </div>            
            </div>            
        </div>            
    </div>
    <br />

    <h1 class="text-center ss-heading" id="samplecode">Sample Code</h1>
    <div class="row">
            <div class="app-box">
                <h4><a href="https://github.com/Monchkrit/AspDotNetVidzy" target="_blank">Vidly ASP.net Web App GitHub Repository</a></h4>
                <p>
                    Udemy project ASP.net MVC code repository.
                </p>
            </div>
            <div class="app-box">
                <h4><a href="https://github.com/Monchkrit/Vidzy" target="_blank">Vidzy Windows Form App GitHub Repository</a></h4>
                <p>
                    Udemy project Windows Forms with Entity Framework code repository.
                </p>
                <a href="../docs/Entity-Framework-Certificate.pdf" target="_blank">Course completion certificate.</a>
            </div>
            <div class="app-box">
                <h4><a href="https://github.com/Monchkrit/BandAPI" target="_blank">BandAPI Repository for JSON requests.</a></h4>
                <p>
                    Udemy project ASP.net MVC API.
                </p>
                <a href="../docs/API-CSharp-Certificate.pdf" target="_blank">Course completion certificate.</a>
            </div>
            <div class="app-box">
                <h4><a href="https://github.com/Monchkrit/AirlineReservations" target="_blank">Airline Reservations Windows Form App GitHub Repository</a></h4>
                <p>
                    Udemy project Windows Forms with Entity Framework code repository.
                </p>
                <a href="../docs/Entity-Framework-Certificate.pdf" target="_blank">Course completion certificate.</a>
            </div>
        </div>
    </div>
</div>