@page "/services"
@model MyApp.Namespace.ServicesModel
@{
  ViewData["Title"] = "Services";
}
<div class="container-fluid">
<h1 class="text-center ss-heading">Services</h1>
<h3 class="ss-heading" style="color: white">All products include domain and cloud service provider selection and registration; listed as
  "Website Installation". Jobs that require less than the allotted amount of time will be priced down appropriately based
  on the amount of time spend in production.</h3>
<div class="row">
  <div class="col-sm">
    <div class="job-box">      
      <p class="h2 text-center"><b>Website Update</b></p>
      <p class="story">Base Price: $500</p>
      <ul class="story text-left">
        <li>
          1 hour stand-up consultation
        </li>
        <li>
          1 hour media gathering<br />
          includes page text and images
        </li>
        <li>
          5 hours site coding
        </li>
        <li>
          1 hour stand-up product demonstration
        </li>
      </ul>
      <ul class="story text-left">
        <p class="h4"><u>Finish</u></p>
        <li>
          $60/hour additional production time
        </li>
        <li>
          $50 Website Installation
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm">
    <div class="job-box">
      <p class="h2 text-center"><b>Green Field Website</b></p>
      <p class="text-center">New Website</p>
      <p class="story">Base Price: $1500</p>
      <ul class="story text-left">
        <li>
          1 hour stand-up consultation
        </li>
        <li>
          1 hour design consultation
        </li>
        <li>
          2 hour media creation<br />
          includes logo and button design
        </li>
        <li>
          10 hours site coding
        </li>
        <li>
          1 hour stand-up product demonstration
        </li>
      </ul>
      <ul class="story text-left">
        <p class="h4"><u>Finish</u></p>
        <li>
          $60/hour additional production time
        </li>
        <li>
          $50 Website Installation
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm">
    <div class="job-box">
      <p class="h2 text-center"><b>Web App</b></p>
      <p class="text-center">New Web Store or Application</p>
      <p class="story">Base Price: $2500</p>
      <ul class="story text-left">
        <li>
          1 hour stand-up consultation
        </li>
        <li>
          4 hour design consultation
        </li>
        <li>
            8 hour media creation
            includes product information and button design
        </li>
        <li>
          24 hours site coding<br />
          includes webserver and database
        </li>
        <li>
          1 hour stand-up product demonstration
        </li>
      </ul>
      <ul class="story text-left">
        <p class="h4"><u>Finish</u></p>
        <li>
          $60/hour additional production time
        </li>
        <li>
          $50 Website Installation
        </li>
      </ul>
    </div>
  </div>
</div>
</div>