@page
@model MyApp.Namespace.ServicesModel
@{
}
<div class="row">
  <h1>Services</h1>
</div>
<div class="row">
  <div class="col">
    <div class="job-box">      
      <p class="h2 text-center"><b>Website Update</b></p>
      <p class="story">Base Price: $500</p>
      <ul class="story text-left">
        <li>
          1 hour stand-up consultation
        </li>
        <li>
          1 hour media gathering<br />
          includes page text and images
        </li>
        <li>
          5 hours site coding
        </li>
        <li>
          1 hour stand-up product demonstration
        </li>
      </ul>
      <ul class="story text-left">
        <p class="h4"><u>Finish</u></p>
        <li>
          $35/hour additional production time
        </li>
        <li>
          $50 Website Installation
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="job-box">
      <p class="h2 text-center"><b>Green Field Website</b></p>
      <p class="text-center">New Website</p>
      <p class="story">Base Price: $1500</p>
      <ul class="story text-left">
        <li>
          1 hour stand-up consultation
        </li>
        <li>
          1 hour design consultation
        </li>
        <li>
          2 hour media creation<br />
          includes logo and button design
        </li>
        <li>
          10 hours site coding
        </li>
        <li>
          1 hour stand-up product demonstration
        </li>
      </ul>
      <ul class="story text-left">
        <p class="h4"><u>Finish</u></p>
        <li>
          $35/hour additional production time
        </li>
        <li>
          $50 Website Installation
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="job-box">
      <p class="h2 text-center"><b>Web App</b></p>
      
    </div>
  </div>
</div>